*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:  "Josefin Sans",sans-serif;;
  color: #555555;
  font-size: 20px;
  background-color:#FFFFFF;

}
p {
  margin: 0;
}

h1, h2, h3, h4, h5{
    font-family:   "Cormorant Infant", serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  background-color: #292E36;
  color:#FFFFFF
/* ; display: flex;   */
}

.outlined-container{border-bottom: 1px solid #5C6168;}
/* .hero{
  background-color: #40464F;
} */

.light{background-color: #FFF8F5;
  color: #555555;}

.second-light{background-color: #FFFFFF;
  color: #555555;
}
.section{display:flex}

.top-header{height: 290px;
  align-items: center;
  justify-content: space-between;
}

.top-nav{
  height: 82px;
  align-items: center;
  justify-content: space-between;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E1B168;
  border: 1px solid #E1B168;
  height: 73px;
  width: 295px;
  font-size: 22px;
line-height: 33;
}
.navigation, .socmedia{
  display: flex;
}
.logo{width:378px;
height: 188px;}

.navigation{
 width: 800px;
 justify-content: space-between;
}
.nav-link{
  text-transform:capitalize;
  font-size: 20px;
  color: #FFFFFF;
}

.nav-link:hover, .nav-link:focus{
  color:#E1B168
}
.socmedia{
  width: 180px;
  justify-content: space-around;
}
/* .knopka{
  display: flex;
  align-items: center;
 
  color: #E1B168;
  border: 1px solid #E1B168;
  height: 73px;
  width: 295px;
  font-size: 22px;
} */